body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", Verdana, sans-serif;
  padding: 10px;
}

* {
  background-color: rgb(0, 128, 128, 0.5);
}

.container {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: start;
  color: #fff;
}

h1 {
  text-align: center;
  color: #fff;
}

.first {
  margin-bottom: 20px;
}

.select-button {
  color: #fff;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.number-field {
  color: #fff;
  width: 93%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.get-started-button {
  width: 84%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  padding: 10px 20px;
  background-color: #181080;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.get-started-button:hover {
  background-color: #45a049;
}
